$pc: 1024px; // PC
$tab: 768px; // タブレット
$sp: 630px;  // スマホ
$sp-second: 470px;  // スマホ

@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}


@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

@mixin sp-second {
    @media (max-width: ($sp-second)) {
      @content;
    }
  }

html{
  body{
    margin: 0;

header{
  .header_wrap{
    display: flex;
    width: 84%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 15px 0;
    align-items: center;


  @include tab{
    width: 90%;
  }

  @include sp-second(){
    width: 95%;
  }

    img{
      width: 265px;

      @include sp{
        width: 200px;
      }

      @include sp-second(){
        width: 170px;
      }

    }

    img:hover{
      opacity: 0.7;
    }

    .header_nav{
      a{
        color: black;
        font-weight: bold;  
        text-decoration: none;

        @include sp-second(){
          font-size: 14px;
        }

      }

      a:hover{
        opacity: 0.8;
      }
    }

  }/*wrap*/
}/*header*/


.contactform{
  &_wrap{
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 150px;
    margin-top:70px;

    @include pc{
      width: 95%;
  }

  @include sp{
    margin-top:50px;
}




    h2{
      font-size: 32px;
      text-align: center;
      padding: 15px 0px;
      font-family: 'Noto Serif JP', serif;

      @include pc{
        width: 100%;
    }

    @include sp{
      font-size: 22px;
      padding: 10px 0px;
    }


    }

    .intro_box{
      border: 2px solid #E03911;
      padding: 22px 39px;
      line-height: 1;
      font-family: 'Noto Serif JP', serif;
      margin-bottom: 40px;

      @include pc{
        width: 100%;
        max-width: 960px;
        box-sizing: border-box;
    }

    @include sp{
      padding: 17px 20px;
    }

    p{
      @include sp{
        font-size: 14px;
        line-height: 1.1;
      }
    }


      a{
        color: #640fb8;
      }/*link*/

      a:hover{
        opacity: 0.7;
      }


    }/*intro_box*/

    table{
      margin: 0 auto;
      margin-bottom: 20px;
      border-collapse: collapse ;
      width: 100%;

      @include tab{
        max-width: 729px;
        width: 100%;
      }

    
      tr{    
          th{
              padding-top: 35px;
              padding-bottom: 35px;
              padding-left: 35px;
              border: 1px solid #B9B9B9;   
              width: 300px;
              text-align: left;
              background-color: #f1f1f1;
              padding-right: 20px;
              color: black;
              font-weight: bold;
              font-family: 'Noto Serif JP', serif;

              @include pc{
                  padding-left: 20px;
                  padding-right: 20px;
              }

              @include tab{
                  display: block;
                  box-sizing: border-box;
                  max-width: 729px;
                  width: 100%;          
                  margin: 0 auto;
                  padding-top: 15px;
                  padding-bottom: 15px;
              }

              @include sp{
                font-size: 14px;
              }
           

              .must{
                  color: #B70B0B;
                  padding: 3px 4px;
                  margin-left: 10px;
              }/*span*/

          }/*th*/

              td{
                  padding-top: 15px;
                  padding-bottom: 15px;
                  padding-left: 30px;
                  padding-right: 28px;
                  border: 1px solid #B9B9B9;  
                  width: 700px;
                  text-align: left; 


                  @include tab{
                      display: block;
                      width: 100%;
                      margin: 0 auto;
                      padding-left: 15px;
                      padding-right: 15px;
                      box-sizing: border-box;
                  }
  

                  #s_job{
                      border: 1px solid #B9B9B9;  
                      padding-top: 5px;
                      padding-bottom: 5px;
                      padding-left: 10px;
                      padding-right: 10px;
                      border-radius: 4px;
                  }

                  .box-name{
                      font-size: 16px;
                  }

                  .red-text{
                      color: red;
                  }

                  input{
                      border: 1px solid #B9B9B9;
                      width: 100%;
                      height: 55px;
                      padding-left: 10px;

                      @include tab{
                        padding-left: 15px;
                        padding-right: 15px;  
                        width: 95%;
                      }

                      @include sp{
                          height: 42px;
                      }

                      @include sp-second(){
                        width: 90%;
                    }
                  }

                  .post-mark{
                      margin-right: 10px;
                  }

                  .postcode{
                      width: 150px;
                      margin-bottom: 20px;
                  }

                  .postcode::before{
                      content: "〒";
                      top: 0;
                  }

                  .free-textarea{
                      height: 165px;
                  }

              }/*td*/

              .free-space{
                  display: block;
                  font-size: 12px;

              }/*free-space*/
      }/*th*/
  }/*tr*/


  .btn_area{
    width: 440px;
    text-align: center;
    padding: 20px 0;
    margin: 0 auto;
    color: white;
    margin-top: 60px;
    font-weight: bold;
    cursor: pointer;
    

    @include sp{
        padding: 15px 40px;
        width: 180px;
        margin-top: 40px;
    }

    .submit{
      padding: 23px 78px;
      font-size: 22px;

      @include sp{
        width: 180px;
        padding: 18px 0px;
        font-size: 16px;
      }
    }
 
}/*btn_area*/     
  }/*wrap*/
}/*contactform*/


footer{
  .footer_top{
    background-color: #EEEEEE;
    padding: 18px 0px;
    text-align: center;
    a{
      color: black;
      border-bottom: none;
      text-decoration: none;
    }
    a:hover{
      opacity: 0.8;
    }
  }/*top*/

  .footer_bottom{
    background-color: black;
    p{
      text-align: center;
      padding: 10px 0px;
      font-size: 12px;
      color: white;
      margin: 0 auto;
    }
  }


}/*footer*/

}
}